[Unit]
Description=gunicorn daemon
After=network.target

[Service]
# Update all paths below
# Setting provided are for reference only !
User=nginx
Group=nginx
WorkingDirectory=/opt/ConsoleVM
ExecStart=/usr/bin/gunicorn --workers 3 --bind unix:/opt/ConsoleVM/DjangoWeb/run/DjangoWeb.sock --chdir /opt/ConsoleVM/DjangoWeb DjangoWeb.wsgi:application

[Install]
WantedBy=multi-user.target